body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
}

.veryDarkBlue {
    color: hsl(234, 12%, 34%);
}

.headerDiv {
    width: 100%;
    margin: 5em auto;
    text-align: center;
}

header h2 {
    color: hsl(234, 12%, 34%);
    font-size: 2.38em;
    margin: 0;
    line-height: 1.45em;
}

.reliable {
    font-weight: 200;
}

header p {
    color: hsl(229, 6%, 66%);
    margin: 1.1em 0;
}

main p {
    color: hsl(229, 6%, 66%);
    font-size: 15px;
}

main h3 {
    color: hsl(234, 12%, 34%);
}

.cardBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    width: 70%;
    margin: 0 auto;
    
}

.cardStyles {
    background-color: white;
    border-radius: .5em;
    padding: 1em;
}

.cardStyles h3 {
    color: hsl(234, 12%, 34%);
}

.cardStyles img {
    float: right;
}

#supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

#teamBuilder {
    border-top: 4px solid hsl(0, 78%, 62%);

}

#karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

#calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

@media (min-width: 550px) {
    .headerDiv {
        width: 542px;
        margin: 5em auto;
        text-align: center;
    }

    .cardBlock {
        width: 70%;
    }

    #supervisor {
        grid-column: 1;
        grid-row: 2 / 4;
        border-top: 4px solid hsl(180, 62%, 55%);
    }

    #teamBuilder {
        grid-column: 2;
        grid-row: 1 / 3;
        border-top: 4px solid hsl(0, 78%, 62%);

    }

    #karma {
        grid-column: 2;
        grid-row: 3 / 5;
        border-top: 4px solid hsl(34, 97%, 64%);
    }

    #calculator {
        grid-column: 3;
        grid-row: 2 / 4;
        border-top: 4px solid hsl(212, 86%, 64%);
    }
}

.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}