body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
}

.headerBlock {
    width: 19rem;
    margin: 5em auto;
    text-align: center;
    padding-top: 0.7em;
}

    .headerBlock h2 {
        color: hsl(234, 12%, 34%);
        font-size: 1.62em;
        margin: 0;
        line-height: 1.45em;
    }

        #reliable {
            font-weight: 200;
        }

    .headerBlock p {
        color: hsl(229, 6%, 66%);
        margin: 1.1em 0;
    }

.cardBlock {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    grid-auto-rows: minmax(215px, auto);
    grid-gap: 1.5rem;
    width: 19rem;
    margin: 0 auto;
}

    .cardStyles {
        background-color: white;
        border-radius: 0 0 .5em .5em;
        padding: 1.3em 1.7em;
        height: 80%;
        box-shadow: 0 10px 10px 2px hsla(234, 12%, 34%, 0.05), 0 8px 10px 2px hsla(212, 86%, 64%, 0.1);
    }

        .cardStyles h3 {
            color: hsl(234, 12%, 34%);
            font-size: 1.35em;
            margin: 0;
        }

        .cardStyles p {
            color: hsl(229, 6%, 66%);
            font-size: .85em;
            line-height: 1.85em;
            margin: 0.5em 0;
        }

        .cardStyles img {
            margin-top: 1em;
            float: right;
        }

            #supervisor {
                border-top: 4px solid hsl(180, 62%, 55%);
                border-radius: .5em;
            }

            #teamBuilder {
                border-top: 4px solid hsl(0, 78%, 62%);
                border-radius: .5em;
            }

            #karma {
                border-top: 4px solid hsl(34, 97%, 64%);
                border-radius: .5em;
            }

            #calculator {
                border-top: 4px solid hsl(212, 86%, 64%);
                border-radius: .5em;
            }

@media (min-width: 700px) {
    .headerBlock {
        width: 542px;
        margin: 5em auto;
        text-align: center;
    }

        .headerBlock h2 {
            font-size: 2.4em;
            line-height: 1.45em;
        }

    .cardBlock {
        width: 40rem;
        padding-bottom: 2rem;
    }
}

@media (min-width: 1200px) {
    .cardBlock {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, minmax(7rem, auto));
        grid-gap: 1.8rem;
        width: 76%;
    }

        .cardStyles {
            padding: 1.7em 2em;
        }

        .cardStyles img {
            margin-top: 3.2rem;
            margin-bottom: .3rem;
            margin-right: .2rem;
        }

        #supervisor {
            grid-column: 1;
            grid-row: 2 / 4;
            border-top: 4px solid hsl(180, 62%, 55%);
        }

        #teamBuilder {
            grid-column: 2;
            grid-row: 1 / 3;
            border-top: 4px solid hsl(0, 78%, 62%);

        }

        #karma {
            grid-column: 2;
            grid-row: 3 / 5;
            border-top: 4px solid hsl(34, 97%, 64%);
        }

        #calculator {
            grid-column: 3;
            grid-row: 2 / 4;
            border-top: 4px solid hsl(212, 86%, 64%);
        }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 2.9rem;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}